<!DOCTYPE html>
<html>
  <form method="POST" action="/food">
    <p>plural noun:<input type="text" name="noun"></p>
    <p>verb ending in ing: <input type="text" name="verb"></p>
    <p>adjective: <input type="text" name="adjective"></p>
    <p>number: <input type="text" name="number"></p>
    <p>color: <input type="text" name="color"></p>
    <p>name: <input type="text" name="nam"></p>
    <input type="submit">
  </form>
</html>