<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
  background: linear-gradient(#FF0078,red,orange,yellow,green,blue,purple,#FF0078);
  color: white;
  text-align: center;
      }
    </style>
  </head>
  
  <body>
  <% @yourname = params[:name] %>
   <%= "Hello #{@yourname}, you're fantastic! enjoy this rainbow" %>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  </body>
</html>