<!DOCTYPE html>
<html>
    <head>
    	<title>facebook</title> <!-- this will be the name of the tab, not text on the page -->
        <!-- metadata about the HTML document as a whole -->
 
    </head>
 
    <body>
      <h1>this is a website I made</h1>
    </body>
</html>

