<!DOCTYPE html>
<html>
    <head>
    	<title>Lauren</title> <!-- this will be the name of the tab, not text on the page -->
        <!-- metadata about the HTML document as a whole -->
      <style>
        
body{
  background: linear-gradient(#BD7DA9,red); 
  font-family: Geneva;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Lucida Grande;
  font-size: 40px;
  background-color: purple;
  color: orange;
}
h2 {
  color: white
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
      </style>
    </head>
 
    <body>
      1. 17 years old!<br>
      <img src="https://media.giphy.com/media/OZGOqRrNziFzy/giphy.gif" alt="seventeen"><br>
     2. Brown Eyes<br>
    <img src="https://media.giphy.com/media/2xo80u35R6j1S/giphy.gif" alt="seventeen"><br>
     3. Five Feet & Two Inches<br>
    <img src="https://media.giphy.com/media/8EzqYFdwMSzPa/giphy.gif" width="200" alt="seventeen"><br>
     4. Lover of Pink<br><img src="https://media.giphy.com/media/3otPozZKy1ALqGLoVG/giphy.gif" width="300" alt="seventeen"><br>
    
     5. Dancer<br><img src="https://media.giphy.com/media/8EPKOrHrrRJCM/giphy.gif" width="300" alt="seventeen"><br>
     6. Fan of dogs, deer, flamingoes, and swans (loves animals)<br><img src="https://media.giphy.com/media/eYM0ad6oiKioU/giphy.gif" width="300" alt="seventeen"><br>
     7. Likes pasta & pretzels<br>
     8. Avid H&M shopper<br>
     <br>
     
    </body>
</html>

