<!DOCTYPE html>
<html>
  <head>
    <title>pictures</title>
  </head>
  
  <body>
    <a><img src="http://i63.tinypic.com/209592e.jpg" border="0" alt="Image and video hosting by TinyPic" width="310" height="400"></a>
     <a><img src="http://i65.tinypic.com/1zyeiz5.jpg" border="0" alt="Image and video hosting by TinyPic" width= "280" height="400"></a>
     <a><img src="http://i63.tinypic.com/71i4jq.jpg" border="0" alt="Image and video hosting by TinyPic" class="rotate90" height="250" ></a>
  </body>
</html>